<body>

<div class = "barre">
    <mat-form-field class="example-full-width">
      <mat-label class ="example-label">Search a card</mat-label>
      <input matInput #message maxlength="256" placeholder="Ex. Rampant growth">
    </mat-form-field>
</div>

<div class = "card-grid">
  <mat-card *ngFor="let card of magicCards">
    <img mat-card-image [ngSrc]="card.img" alt="Magic Card" fill="" (click)=naviguerAvecId(card.id)>
    <!-- Vous pouvez ajouter d'autres éléments comme le titre ou la description ici -->
  </mat-card>
</div>

</body>
