<body>
<header>
  <img src="../../assets/logo_gf.png" alt="Logo GF" id="logo_gf">
  <img src="../../assets/logo_mtg.png" alt="Logo MTG" id="logo_mtg">
</header>

<div class = "barre">
  <input type="text" placeholder="Rechercher...">
</div>

<div class = "card-grid">
  <mat-card *ngFor="let card of magicCards">
    <img mat-card-image [ngSrc]="card.img" alt="Magic Card" fill="" (click)=naviguerAvecId(card.id)>
    <!-- Vous pouvez ajouter d'autres éléments comme le titre ou la description ici -->
  </mat-card>
</div>

<footer>
  <p>©adenlexar et fluflo</p>
</footer>
</body>
