@import "@angular/material/prebuilt-themes/indigo-pink.css";

body{
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header{
  height: 20vh;
  display: flex;
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
}

#logo_gf{
  height: 100%;
  width: auto;
}

#logo_mtg{
  height: 100%;
  width: auto;
}

img{
  width: 10%; /* Limite la largeur de l'image à 100% de son conteneur */
  height: auto; /* Ajuste automatiquement la hauteur pour maintenir les proportions */
}

.barre {
  display: flex;
  align-items: center;
  justify-content: center;
}

.barre input[type="text"] {
  width:33%;
}

footer{
  margin-top: auto;
  height: 15vh;
  background-color: #1D9BDD;
}


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
