@import "@angular/material/prebuilt-themes/indigo-pink.css";

html{ height: 100%; }

body{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header{
  height: 20vh;
  display: flex;
  justify-content: center; /* Centre les éléments horizontalement */
  align-items: center; /* Centre les éléments verticalement */
}

#logo_gf{
  height: 100%;
  width: auto;
  cursor: pointer;
}

#logo_mtg{
  height: 100%;
  width: auto;
  cursor: pointer;
}


footer{
  display: flex;
  align-items: center; /* Centre verticalement */
  justify-content: center; /* Centre horizontalement */
  margin-top: auto;
  height: 20vh;
  background-color: #0098D3;
}
